<!--Clients-->
<section id="clients" class="scrollto clearfix">
  <div class="row clearfix">

    <div class="col-3">

      <div class="section-heading">
        <h3>{{partners.tagline}}</h3>
        <h2 class="section-title">{{partners.header}}</h2>
        <p class="section-subtitle">{{partners.info}}</p>
      </div>

    </div>

    <div class="col-2-3">

      <a href="https://www.udemy.com/" class="col-3">
        <img src={{partners.p1_img}} alt="Company" />
        <div class="client-overlay"><span>{{partners.p1}}</span></div>
      </a>
      <a href="https://www.khanacademy.org/" class="col-3">
        <img src={{partners.p2_img}} alt="Company" />
        <div class="client-overlay"><span>{{partners.p2}}</span></div>
      </a>
      <a href="https://ftuforum.com/" class="col-3">
        <img src={{partners.p3_img}} alt="Company" />
        <div class="client-overlay"><span>{{partners.p3}}</span></div>
      </a>
      <a href="https://angular-university.io/" class="col-3">
        <img src={{partners.p4_img}} alt="Company" />
        <div class="client-overlay"><span>{{partners.p4}}</span></div>
      </a>
      <a href="https://www.datacamp.com/" class="col-3">
        <img src={{partners.p5_img}} alt="Company" />
        <div class="client-overlay"><span>{{partners.p5}}</span></div>
      </a>
      <a href="https://in.linkedin.com/" class="col-3">
        <img src={{partners.p6_img}} alt="Company" />
        <div class="client-overlay"><span>{{partners.p6}}</span></div>
      </a>
      <a href="https://www.glassdoor.co.in/Reviews/index.htm" class="col-3">
        <img src={{partners.p7_img}} alt="Company" />
        <div class="client-overlay"><span>{{partners.p7}}</span></div>
      </a>
      <a href="https://www.w3schools.com" class="col-3">
        <img src={{partners.p8_img}} alt="Company" />
        <div class="client-overlay"><span>{{partners.p8}}</span></div>
      </a>

      <a href="https://www.tutorialspoint.com" class="col-3">
        <img src={{partners.p9_img}} alt="Company" />
        <div class="client-overlay"><span>{{partners.p9}}</span></div>
      </a>

    </div>

  </div>
</section>
<!--End of Clients-->