
<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">

    <div class="col-38">

      <div class="section-heading">
        <h1>{{header.heading | uppercase}}</h1>
        <h2>{{header.headingText }}</h2>
        <h2>{{header.subheading_text}}</h2>
      </div>

      <!--Call to Action-->
      <a routerLink="/EnrollForm" class="button">{{header.btn_text | uppercase}}</a>
      <!--End Call to Action-->

    </div>
    
  </div>
  <!--End of Row-->
</header>