    <!--Introduction-->
    <section id="about" class="introduction scrollto">

      <div class="row clearfix">

        <div class="col-3">
          <div class="section-heading">
            <h3>{{about.tagLine | uppercase}}</h3>
            <h2 class="section-title">{{about.header | uppercase}}</h2>
            <p class="section-subtitle">{{about.header_text}}</p>
          </div>

        </div>

        <div class="col-2-3">

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
            <!--Icon-->
            <div class="icon">
              <i class="fa fa-html5 fa-2x"></i>
            </div>
            <!--Icon Block Description-->
            <div class="icon-block-description">
              <h4>{{about.course1_1 | uppercase}} &amp; {{about.course1_2 | uppercase}}</h4>
              <h4>Level: {{about.course1_level}}</h4>
              <p>{{about.course1_info}}</p>
            </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
            <!--Icon-->
            <div class="icon">
              <i class="fa fa-bolt fa-2x"></i>
            </div>
            <!--Icon Block Description-->
            <div class="icon-block-description">
              <h4>{{about.course2}}</h4>
              <h4>Level: {{about.course2_level}}</h4>
              <p>{{about.course2_info}}</p>
            </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
            <!--Icon-->
            <div class="icon">
              <i class="fa fa-tablet fa-2x"></i>
            </div>
            <!--Icon Block Description-->
            <div class="icon-block-description">
              <h4>{{about.course3}}</h4>
              <h4>Level: {{about.course3_level}}</h4>
              <p>{{about.course3_info}}</p>
            </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
            <!--Icon-->
            <div class="icon">
              <i class="fa fa-rocket fa-2x"></i>
            </div>
            <!--Icon Block Description-->
            <div class="icon-block-description">
              <h4>{{about.course4}}</h4>
              <h4>Level: {{about.course4_level}}</h4>
             <p>{{about.course4_info}}</p>
            </div>
          </div>
          <!--End of Icon Block-->

        </div>

      </div>


    </section>
    <!--End of Introduction-->