  <!--Testimonials-->
  <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

      <div class="section-heading">
        <h3>{{testimonial.tagline}}</h3>
        <h2 class="section-title">{{testimonial.header | titlecase}}</h2>
      </div>

      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
        <img src={{testimonial.ppl1_img}} alt="User" />
        <q>{{testimonial.ppl1_feedback}}</q>
        <footer>{{testimonial.ppl1_name}}</footer>
      </blockquote>
      <!-- End of Testimonial-->

      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
        <img src={{testimonial.ppl2_img}} alt="User" />
        <q>{{testimonial.ppl2_feedback}}</q>
        <footer>{{testimonial.ppl2_name}}</footer>
      </blockquote>
      <!-- End of Testimonial-->

      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
        <img src={{testimonial.ppl3_img}} alt="User" />
        <q>{{testimonial.ppl3_feedback}}</q>
        <footer>{{testimonial.ppl3_name}}</footer>
      </blockquote>
      <!-- End of Testimonial-->

    </div>

  </aside>
  <!--End of Testimonials-->